<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{ profile.name }}</title>

        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='fonts/flaticon.css') }}" rel="stylesheet">
    </head>
<body style="margin: 100px;">

       <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Details about {{ profile.name }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">

            <header class="my-4">
            </header>

            <section class="about-seciton padd-2" style="background-image:url(/static/images/background/bg5.png)">
		    <div class="container">
			    <div class="row">
				    <div class="col-md-6 col-sm-12 col-xs-12">
					    <div class="single-item">
						    <figure class="image-box">
							    <img src="{{ rank.movieImgPath }}" alt="">
						    </figure>
					    </div>
				    </div>

				    <div class="col-md-6 col-sm-12 col-xs-12">
					    <!-- Start single-item -->
					    <div class="single-item style-two">
						    <div class="sec-title">
							    <h2>About  <span>{{ profile.name }}</span></h2>
						    </div>
                            <p>Director:  <b>{{ profile.director }}</b></p>
                            <p>Stars:  <b>{{ profile.stars }}</b></p><br>

						    <p class="style-2">{{ profile.details }}</p>

					    </div>
					    <!-- End single-item -->
				    </div>


			    </div>
		    </div>
	        </section>

        </div>

</body>
</html>